<!DOCTYPE>
<html>
  <head>
    <meta charset=utf8>
    <!-- D3.js -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- jQuery (required by Semantic UI) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Semantic UI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <!-- Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <!-- Local -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <div class="ui inverted vertical center aligned segment head"><div class="head-container">
        {% block head_block %}
          <div class="ui text container">
            <h1 class="ui inverted header">Music Room</h1>
            <h3>Listen to music together with your friends.</h3>
          </div>
        {% endblock %}
      </div></div>
      {% block after_head_block %}
      {% endblock %}
    {% endblock %}
    <div class="ui text vertical center aligned segment">
      <p>Copyright &copy; Niklas Rosenstein 2017</p>
      <p><i class="github icon"></i><a href="https://github.com/NiklasRosenstein/musicroom">NiklasRosenstein/musicroom</a></p>
    </div>
  </body>
</html>
