<!DOCTYPE>
<html>
  <head>
    <meta charset=utf8>
    <!-- Local: TODO Embedd in app bundle-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id="container"></div>
    <script>
      window.MusicRoom = {
        roomNameValidateRegex: '{{room_name_validate|replace("\\", "\\\\")|safe}}',
        roomNameSuggestion: '{{funny_name}}'
      }
    </script>
    <script src="{{ url_for('static', filename='bundle.js') }}"></script>
  </body>
</html>
