{% extends "base.html" %}
{% block head %}
  <title>{{room.name}} &ndash; Music Room</title>
  <!-- Handlebars -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
  <!-- YouTube Player API -->
  <script src="http://www.youtube.com/player_api"></script>
{% endblock %}

{% block head_block %}
  {{ super() }}
  <hr/>
  <div class="ui player">
    <div class="fifteen wide column">
      <h2 class="current-title" style="display:none"></h2>
      <div id="yt-player" style="display:none"></div>
    </div>
  </div>
  <div class="ui text container">
    <a style="color:white; font-size:150%" href="javascript:skipSong()"><i class="lerge forward icon"></i></a>
  </div>
{% endblock %}

{% block after_head_block %}
  <div class="ui vertical aligned segment head"><div class="head-container">
    <h1>Add a Song</h1>
    <div class="ui message" style="display:none">
      <p></p>
    </div>
    <form class="ui form" id="add-song-form" method="post" action="/api/submit" onsubmit="submitSongUrl(event)">
      <div class="field">
        <label>YouTube URL</label>
        <input type="text" name="url" placeholder="https://www.youtube.com/watch?v=e8T_fzSY34s" autofocus>
      </div>
      <input type="text" name="room" hidden value="{{ room.name }}">
      <button class="ui button" type="submit">Submit</button>
    </form>
  </div></div>
  <div class="ui inverted vertical aligned segment head"><div class="head-container">
    <hr/>
    <div class="ui grid">
      <div class="row">
        <div class="eight wide column">
          <h1>Queue</h1>
          <!-- Queue List -->
          <div class="ui inverted relaxed divided list" id="queue">
            {% raw %}
            <script id="handlebars:queue-item" type="text/x-handlebars-template">
              <div class="item">
                <i class="large {{ icon }} middle aligned icon"></i>
                <div class="content">
                  <a onclick="onQueueItemClick.apply(this)" class="header">{{ title }}</a>
                  <div class="description">{{ url }}</div>
                </div>
              </div>
            </script>
            {% endraw %}
          </div>
        </div>
        <div class="eight wide column">
          <h1>History</h1>
          <div class="ui inverted relaxed divided list" id="history">
          </div>
        </div>
      </div>
    </div>
  </div></div>

  <script>
    var Musicroom = {
      name: "{{room.name}}",
      socket: io.connect(),
      emit: function (event, ...arguments) {
        console.log('emit(' + event + ')')
        Musicroom.socket.emit(event, Musicroom.name, ...arguments)
      }
    };

    Musicroom.socket.on('connect', function () {
      Musicroom.emit('join')
      Musicroom.emit('get current song')
      Musicroom.emit('get queue and history')
    })

    Musicroom.socket.on('current song', function (new_song) {
      console.log('>>> Current Song:', new_song)
      if (new_song) {
        /* If it's the same song, there's no need to update. */
        if (song && new_song.id == song.id) {
          console.log("Got the same song. Skipping player update")
          return
        }

        song = new_song
        setPlayerTitle(song.title)
        if (song.classtype == 'YtSong') {
          youTubePlay()
        }
      }
      else {
        song = null
        if (yt_player) yt_player.stopVideo()
        setPlayerTitle(null)
        youTubeShow(false)
      }
    })

    Musicroom.socket.on('queue and history', function (data) {
      console.log('>>> Queue and history:', data)
      for (let i = 0; i < data.queue.length; ++i) {
        $('#queue').append(renderQueueItem(data.queue[i]))
      }
      for (let i = 0; i < data.history.length; ++i) {
        $('#history').append(renderQueueItem(data.history[i]))
      }
    })

    Musicroom.socket.on('put song', function (data) {
      // Remove all existing classes.
      let message = d3.select('.head .ui.message')
        .classed('positive', false)
        .classed('negative', false)
        .classed('info', false)

      // Insert the message with the right class.
      if (data.error)
        message.classed('negative', true).text(data.error)
      else if (data.song) {
        message.classed('positive', true).text('The song was added to the queue.')
        $('#queue').append(renderQueueItem(data.song))
        $('form#add-song-form input[name="url"]')[0].value = ""
      }

      $(message.node()).show()
    })

    document.body.addEventListener('paste', function (event) {
      let data = (event.clipboardData || window.clipboardData)
      if (event.target.nodeName == 'INPUT' || event.target.nodeName == 'TEXTAREA') {
        return;
      }

      let text = data.getData('Text')
      let parser = document.createElement('a')
      parser.href = text
      if (parser.protocol && parser.hostname && parser.pathname) {
        // Seems to be a valid URL, add it to the form and try to submit it.
        $('form#add-song-form input[name="url"]')[0].value = data
        submitSongUrl()
      }
    })

    /* Render the Handlebars template for an item in the queue or history. */
    var queueItemTemplate = Handlebars.compile(document.getElementById('handlebars:queue-item').innerHTML)
    function renderQueueItem(song) {
      let icon = 'music'
      if (song.classtype == 'YtSong') icon = 'youtube'
      return $(queueItemTemplate({
        title: song.title,
        url: song.url,
        icon: icon
      })).data(song)
    }

    /* Queue and item from the history when it's clicked. */
    function onQueueItemClick() {
      let item = this.parentNode.parentNode
      if (item.parentNode.id == 'history') {
        let song = $(item).data()
        Musicroom.emit('put song', song.url)
      }
    }

    /* Skip the current song. */
    function skipSong() {
      Musicroom.emit('skip song')
    }

    /* Callback for the "Submit" URL form. */
    function submitSongUrl(event) {
      if (event) event.preventDefault()
      let url = $('form#add-song-form input[name="url"]')[0].value
      Musicroom.emit('put song', url)
    }

    /* Sets the title above the Player. */
    function setPlayerTitle(title) {
      let h2 = document.querySelector('.head .player .current-title')
      if (title) {
        h2.innerText = title
        $(h2).show()
      }
      else
        $(h2).hide()
    }

    /* YouTube */
    let song = null
    let yt_delayedPlay = null
    let yt_player = null

    function youTubePlay() {
      youTubeShow(true)

      if (!YT.Player) {
        /* Play as soon as the YT API is ready. */
        yt_delayedPlay = song
        return
      }

      if (!yt_player) {
        yt_player = new YT.Player('yt-player', {
          width: '640',
          height: '390',
          videoId: song.video_id,
          events: {
            onReady: onYouTubePlayerReady,
            onStateChange: onYoutTubePlayerStateChange
          }
        })
      }
      else {
        yt_player.loadVideoById(song.video_id)
      }

    }

    function youTubeShow(show) {
      let el = $('#yt-player')
      if (show) el.show()
      else el.hide()
    }

    function onYouTubePlayerReady() {
      // Start playing the video
      yt_player.playVideo()
      yt_player.seekTo(song.time_passed)
    }

    function onYoutTubePlayerStateChange () {
      let state = yt_player.getPlayerState()
      console.log('YT Player: state changed', state)
    }

    function onYouTubePlayerAPIReady() {
      if (yt_delayedPlay) {
        youTubePlay()
        yt_delayedPlay = null
      }
    }
  </script>
{% endblock %}
