<!DOCTYPE html>
<html>
  <head>
    <title>Burda Meetup - Music Queue</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-request/1.0.5/d3-request.min.js"></script>
  </head>
  <body>

    <div class="flashes">
      <!-- Flash Messages -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class=row>
            <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endwith %}
    </div>

    <!-- Add URL form -->
    <div class="row">
      <div class="col col-12">
        <h1>Add URL</h1>
        <form id="upload-form" method="post">
          <label for="queue-url">Youtube URL</label>
          <input name="queue-url">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>

      <!-- Queue List -->
      <div class="row">
        <div class="col col-12">
        <h1>Queue</h1>
        <div id="queue" class="col col-6">
        </div>
      </div>

    </div>

    <script>
      function updateQueue() {
        d3.json('/api/queue', function (data) {
          queue = data
          d3.select('#queue').selectAll('div').data(queue)
            .attr('class', 'music-item')
            .enter()
            .append('div')
            .html(String)
            .exit()
            .remove()
        })
      }
      updateQueue()
    </script>
  </body>
</html>
